@model Service

@{
    ViewBag.Title = "Configure New Service";
}


<div class="" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>New Service</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>ETL Service Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="CreateNewServiceForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="Service" asp-action="CreateService" method="post">

                            <div class="item form-group" hidden>
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="ServiceId">
                                    Id
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="ServiceId" id="serviceId" name="serviceId" readonly class="form-control ">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="ServiceName">
                                    Service Name
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="ServiceName" id="serviceName" name="serviceName" required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="RefreshTime">
                                    Refresh Time (MiliSeconds)<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="RefreshTime" id="refreshTime" name="refreshTime" required="required" class="form-control ">
                                </div>
                            </div>

                             <div class="item form-group">
                                <label asp-for="DataSource" class="col-form-label col-md-3 col-sm-3 label-align">Data Source</label>
                                <div class="col-md-6 col-sm-6 "> 
                                    <select asp-for="DataSource" id="dataSource" name="dataSource" class="form-control">
                                            <option>CSV</option>
                                            <option>Json</option>
                                            <option>tex</option>
                                            <option>Excel</option>
                                            <option>RestAPI</option>
                                        </select>
                                </div>
                            </div>
                             <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="SourceFolder">
                                    Source Folder
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="SourceFolder" id="sourceFolder" name="sourceFolder" required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Mapping" class="col-form-label col-md-3 col-sm-3 label-align"> Mapping</label>
                                 <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Mapping" id="mapping" name="mapping" class="form-control">
                                        <option>student</option>
                                        <option>employee</option>
                                    </select>
                                </div>
                            </div>
                           
                            
                             <div class="item form-group">
                                <label asp-for="DestinationDb" class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="DestinationDb" id="destinationDb" name="destinationDb" class="form-control">
                                        <option>ElasticSeach</option>
                                        <option>MongoDb</option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="DbUrl">
                                    DB Url with Port
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="DbUrl" id="dbUrl" name="dbUrl" required="required" class="form-control ">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="DbName">
                                    DB Name
                                </label>
                               <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="DbName" id="dbName" name="dbName" class="form-control">
                                        <option>student</option>
                                        <option>employee</option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="TableName">
                                    Table Name
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="TableName" id="tableName" name="tableName" required="required" class="form-control ">
                                </div>
                            </div>
                           

                           

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Status">
                                    Status
                                </label>
                                 <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Status" id="status" name="status" class="form-control">
                                        <option>Running</option>
                                        <option>Stopped</option>
                                    </select>
                                </div>
                            </div>

                            

                           


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    @*<button class="btn btn-primary" type="button">Cancel</button>*@
                                    <a asp-controller="Home" asp-action="AllServices" class="btn btn-primary">Cancel</a>
                                    @*<button class="btn btn-primary" type="button">Go to Main Application</button>*@
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>