################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DummyDataETL/obj/Debug/net6.0/DummyDataETL.csproj.AssemblyReference.cache
